/* СБРОС СТИЛЕЙ ЗАГОЛОВКОВ, АБЗАЦЕВ, СПИСКОВ, ИЗОБРАЖЕНИЙ, ССЫЛОК */
h1, h2, h3, p {  /*Сброс марджинов браузера*/
    margin-top: 0;
    margin-bottom: 0;
}

img {       /*Убираем зазор под изображением, ограничиваем габариты максимально 100% ширины*/
    display: block;
    max-width: 100%;
    height: auto;
}

ul {       /*Убираем маркировку списка, сбрасываем марджины и падинги*/
    padding: 0;
    margin: 0;
    list-style: none;
}

a {          /*Убираем декорирование ссылок*/
    text-decoration: none;
}
