@mixin font($col, $fw, $fs, $lh, $ls:0.03em) {
    color: $col;
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
    letter-spacing: $ls;
}

@mixin flex($fl:flex, $ai:center) {
    display: $fl;
    align-items: $ai;
}